---
Checks: >
  -*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
  -clang-analyzer-deadcode*,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -readability-function-cognitive-complexity
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
CheckOptions:
  - key:   cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key:   readability-identifier-length.IgnoredVariableNames
    value: '^[ijk_]$'
  - key:   misc-const-correctness.AnalyzeValues
    value: false
...
